lerna-debug.log
node_modules
/temp
*.nedb
fixtures
**/npm-debug.log
**/npm-debug.log.*
/dist
anno-webpack/dist
gh-pages
*.ignore
ignore.*
*~
anno-docker
.~*
anno-webpack/deploy.mk
site
doc/assets/dist
doc/context.jsonld
doc/openapi.json
deploy.mk
