extends ./layout.pug
block body
	.container
		.row
			if error != ''
				.alert.alert-danger= error
			if user
				.alert.alert-success Logged in as #{JSON.stringify(user)}
		.row
			form(method="POST", action="logout").form-horizontal
				.form-group
					.col-sm-offset-3.col-sm-3
						button.btn.btn-warning(type='submit') Logout

