extends include/layout.pug
block body
	.row
		.col-xs-12
			:markdown-it
				# Annotation Demos

				These pages provide demos for some of the functionality of
				[anno](https://github.com/kba/anno)
