doctype html
html
	head
		include include/head.pug
	body
		include include/nav.pug

		.container
			.row
				.col.sm-6
					select.custom-select#fixture
				.col.sm-6
					button.btn.btn-default#load-fixture(onclick='loadFixture()') Load Fixture
			.row
				.col.sm-12
					textarea.codemirror#input(rows=10, cols=40)
			.row
				.col.sm-6
					select.custom-select#type
				.col.sm-6
					button.btn.btn-default#validate(onclick='validate()') Validate
			.row
				.col.sm-12
					pre#result

		include include/foot.pug

		script(src="./validator.js")
