script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/javascript/javascript.min.js')
script.
	CodeMirror.defaults.mode = 'application/ld+json'
	for (let el of document.getElementsByClassName('codemirror')) {
		console.log(el)
		el.editor = CodeMirror.fromTextArea(el)
		//- editor.on('change', () => el.value = editor.getDoc().getValue())
	}
