nav.navbar.navbar-toggleable-sm.navbar-inverse.bg-inverse.mb-4
	button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarCollapse')
		span.navbar-toggler-icon
	a.navbar-brand(href='#') Anno
	#navbarCollapse.collapse.navbar-collapse
		ul.navbar-nav.mr-auto
			li.nav-item
				a.nav-link(href='index.html') Home 
			li.nav-item
				a.nav-link(href='validator.html') Validator
			li.nav-item
				a.nav-link(href='context.html') Context
script.
	$(document).ready(function() {
		$('li.active').removeClass('active');
		$(`a[href$="${location.pathname.replace(/.*\//, '')}"]`).closest('li').addClass('active')
	})
